.containerCard {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 15rem;
  margin: 2rem;
}

.containerCard img {
  border-radius: 1rem 1rem 0 0;
  height: 15rem;
  width: 15rem;
}

.bodyCard {
  padding: 0.3rem;
}

.containerCard button {
    width: 100%;
    background-color: rgb(201, 52, 201);
    color: white;
    height: 2rem;
    border: none;
}

.containerCard:hover {
  transform: scale(1.1);
}